<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <style>
         * {
            padding: 0;
            margin: 0;
        }
        #container {
            padding: 20px;
        }
        ul,li {
            list-style: none;
            display: flex;
        }
        li {
            width: 170px;
            display: flex;
            justify-content: center
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="container">
        <ul>
            <li>작성자</li>
            <li>제목</li>
            <li>내용</li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a href="/create">글 쓰기</a>
    </div>
</body>
</html>