<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
</head>
<body>
    <div id="container">
        <ul>
            <li>작성자</li>
            <li>제목</li>
            <li>내용</li>
        </ul>
       <form method="post" action="/modify">
            <input type="text" name="writer" value="{{ key}}">
            <input type="text" name="title" value="">
            <input type="text" name="content" value="">
            <button type="submit">글 수정</button>
       </form>
    </div>
</body>
</html>