<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 페이지</title>
</head>
<body>
        <!-- 
       const board =  {
            id: 1,
            user_id: "dmsdbwjd1234",
            writwe: "은유정",
            title: "오늘 수업은 HTTP 통신 프로토콜",
            contsent: " 오늘 수업 너무 재밌네여;;;",
            hit: 0 //조회수
         }
    -->
    <ul>
        <li>제목</li>
        <li>내용</li>
    </ul>
    <ul>
        <li></li>
        <li></li>
        <form method="post" action="/delete" >
            <button type="submit">delete</button>
            <button type="button">
                <a href="/modify" id="">글 수정하기</a>
            </button>
        </form>
    </ul>
</body>
</html>